/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}


/* ------------------ */

*, *::before, *::after{
    /* outline: solid 1px black; */
    box-sizing: border-box;

}


.Function-Bar{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.Function-Bar>a{
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	margin:  0 46px;
}

.Function-Bar>a>p{
	font-size: 20px;
	margin-left: 10px;
}

#canvas-panel{
	background-color: #E8E8E8;
	position: relative;	
}

.Tool-Bar{
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 12px;
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translatex(-50%);
	background-color: #fff;
	box-shadow: 0px 4px 16px #00000029;
	border-radius: 45px;
	
}
.Tools>a{
	color: black;
	margin: 0 10px;
}

.Size{
	display: flex;
	align-items: center;
	margin: 0 20px;
}
.Size>h1, .Size>p{
	font-size: 20px;
}

.Size-input{
	background-color: #E8E8E8;
	border: solid 1px #E8E8E8;
	border-radius: 25px;
	text-align: center;
	width: 60px;
	font-size: 20px;
    padding: 8px;
	margin: 0px 20px;
	outline: none;
 
}

i{
	font-size: 36px;
}

.All-color{
	display: flex;
	align-items: center;
}

.All-color>a{
	width: 48px;
	height: 48px;
	border: solid 3px black;
	border-radius: 100%;
	color: black;
	margin:  0px 10px;
}

